@import "../../global.scss";

.project {
  background-color: #e8e8e8;
  //background-color: #661a1a;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    margin-top: 11px;
    font-size: 40px;
  }

  .underline {
    width: 6rem;
    height: 0.25rem;
    background: crimson;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;;
    margin-bottom: 10px;
  }

  ul {
    margin: 10px;
    padding: 0;
    list-style: none;
    display: flex;


    // li {
    //   font-size: 18px;
    //   margin-right: 50px;
    //   padding: 10px;
    //   border-radius: 10px;
    
    //   &.active {
    //     background-color: $mainColor;
    //     color: white;
    //   }
    // }
  }

  .projectContainer{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    .item{
        width: 350px;
        height: 210px;
        border-radius: 10px;
        border: 1px solid grey;
        margin: 10px 20px;
        align-items: center;
        justify-content: center;
        color: #fff;
        position: relative;
        transition: 0.5s ease;
        cursor: pointer;

        h3{
            font-size: 33px;
            color: crimson;
            position: absolute;
           
        }

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: 1;
        }

        &:hover{
            background-color: $mainColor;
            img{
                opacity: 0.2;
                z-index: 0;
            }
        }
    }
   
  }

}
